<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                border:2px solid Black;
                padding:20px;
                margin:20px;
                background-color: aqua;
            }
            h1{
                text-align:center;
            }
            a{
                border: 1px solid black;
                background-color: aliceblue;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Employee Management Application</h1>
        <p>This is home page of Employee management application</p>
        <p>This application helps to manage employ information such as add, update, retrieve, delete</p>
        <br>
        <a href="http://127.0.0.1:8000/employee/insert">Add new employ information</a>
        <br>
        <br>
        <a href="http://127.0.0.1:8000/employee/display">Display employ information</a>
    </body>
</html>